<script>
    function fun1 ()
    {
        alert("KU");
    }
</script>

<button><h1>Компонент 2</h1></button>


<style>
    h1 {
        color: rgb(0, 0, 0);
        font-size: 25px;
        text-align: center;
    }
</style>